@charset "UTF-8";

// * ==========================================================================
// * 標籤的基本樣式
// * ==========================================================================

input,
select,
textarea,
button {
  font-family: $font-family;
}

body {
  background-color: $color-yellow;
  position: relative;
  overflow-x: hidden;
  font-family: '微軟正黑體';

  &::after {
    content: '';
    width: 245px;
    height: 580px;
    display: block;
    position: absolute;
    top: 900px;
    left: -100px;
    background-image: url('../../img/bg/SKbank_image-09.png');
    background-position: 100% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;

    @include min-width(map-get($desktop, lg)) {
      width: 445px;
      height: 1080px;
      top: 800px;
      left: -200px;
    }
  }

  // &::before {
  //   content: '';
  //   width: 445px;
  //   height: 1080px;
  //   display: block;
  //   position: absolute;
  //   bottom: 100px;
  //   right: -100px;
  //   background-image: url('~assets/img/bg/SKbank_image-10.png');
  //   background-position: 0% 0%;
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   z-index: 0;
  // }
  //scrollbar
  // overflow-y: auto;

  // &::-webkit-scrollbar {
  //   display: none;
  //   @include min-width(map-get($phone, lg)) {
  //     display: block;
  //     width: 0.5rem;
  //   }

  //   @include min-width(map-get($tablet, lg)) {
  //     width: 0.5rem;
  //   }
  // }

  // &::-webkit-scrollbar-track {

  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: $color-blue-Indigo;
  //   border-radius: 10px;

  //   &:active {
  //     background-color: $color-blue;
  //   }
  // }
}

.is-hidden {
  overflow: hidden;
}

/* Fixed header and footer.
	* --------------------------------------- */
#header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  z-index: 1000;
  text-align: center;
  color: #f2f2f2;
  z-index: 9999;

  @include min-width(map-get($tablet, sm)) {
    // padding: 1rem 0;
  }
}

#footer {
  bottom: 0px;
}

.container {
  position: relative;
}

.float-block {
  position: fixed;
  bottom: 85px;
  right: 10px;
  z-index: 500;

  @include min-width(map-get($phone, md)) {
    right: 15px;
  }

  @include min-width(map-get($tablet, md)) {
    right: 40px;
  }
}

.float-block__top-btn {
  width: 50px;
  height: 50px;
  display: block;
  background-color: $color-red-light;
  border-radius: 100%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height: 50px;
  opacity: 0.5;
  transition: opacity 0.3s;

  @include min-width(map-get($tablet, md)) {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  @include min-width(map-get($desktop, sm)) {
    &:hover {
      opacity: 1;
    }
  }
}
