.footer {
  max-width: calc(100% - 40px);
  margin: 0 auto;
  margin-top: 6rem;
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 250px;
    display: block;
    position: relative;
    background-image: url('../../img/bg/SKbank_image-08.svg');
    background-position: 0% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;

    @include min-width(map-get($phone, xs)) {
      height: 300px;
    }

    @include min-width(map-get($phone, lg)) {
      width: 700px;
      height: 400px;
      position: absolute;
      bottom: -50px;
      right: 0;
      background-position: 100% 100%;
    }
  }

  @include min-width(map-get($desktop, lg)) {
    max-width: 1280px;
    padding: 0 3rem;
  }

  @include min-width(map-get($desktop, xl)) {
    max-width: 1440px;
  }

  > h3 {
    display: inline-block;
    position: relative;
    font-size: map-get($font-size, 3);

    &::before {
      content: '';
      width: 50px;
      height: 50px;
      display: block;
      position: absolute;
      top: -60px;
      left: -10px;
      background-image: url('../../img/bg/SKbank_image-07.svg');
      background-position: 100% 100%;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 0;

      @include min-width(map-get($phone, lg)) {
        top: -50px;
        left: -50px;
      }
    }

    &::after {
      content: '';
      width: 25px;
      height: 25px;
      display: block;
      position: absolute;
      bottom: -25px;
      right: -50px;
      background-image: url('../../img/bg/SKbank_image-07.svg');
      background-position: 100% 100%;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 0;
    }
  }
}

.footer-info {
  margin-top: 2rem;

  > ol {
    padding-left: 30px;

    > li {
      list-style: decimal;
      margin-bottom: 2rem;
    }
  }
}
.info-description {
  margin-top: 1rem;
  line-height: 2;
}
.info-important {
  text-decoration: underline;
  line-height: 2;
}
