.m__menu-body {
  display: block;

  @include min-width(map-get($tablet, md)) {
    display: none;
  }
}

.m-menu {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2000;
  display: flex;
  transform-origin: 100% 100%;
  transform: scaleX(0) skewX(-50deg);
  transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  background-color: $color-red;
  overflow: hidden;

  @at-root &.is-active {
    transform: scaleX(1) skewX(0);
  }
}

.m-menu__body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.m-menu__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 70px;
  overflow: hidden;
  overflow-scrolling: touch;
}

.m-menu-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > li {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: 1px solid $color-white;
    opacity: 0;

    > a {
      min-width: 100%;
      display: flex;
      justify-content: center;
      font-size: map-get($font-size, 3);

      // &:hover span {
      //   color: $color-yellow-light;
      //   transform: translate3d(5%, 0, 0);
      // }

      > span {
        width: 100%;
        height: 100%;
        display: block;
        padding: 1.5rem 0;
        margin: 1rem;
        color: $color-white;
        text-align: center;
        transition: 0.2s;

        @include min-width(map-get($tablet, sm)) {
          padding: 3rem 0;
        }
      }

      .icon-line-m {
        width: 60px;
        height: 60px;
        background: url('../../img/icon/line-icon.svg') no-repeat center/contain;
      }

      .icon-facebook-m {
        width: 60px;
        height: 60px;
        background: url('../../img/icon/fb-icon.svg') no-repeat center/contain;
      }
    }
  }
}
